/* header */
.nav-link {
    position: relative;
}
#notification-friends {
    position: absolute;
    top: 0px;
    right: -2px;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 10px;
}


/* main page */
.main-calendar-hour {
    padding: 0;
    margin: 0;
    font-weight: normal;
    margin-left: -40px !important;
}
#main-calendar {
    table-layout: fixed;
    width: 100%;
    line-height: 0.8em;
    text-align: center;
}
#main-calendar tr th:nth-child(1) {
    width: 200px;
}
#main-calendar td:nth-child(1) {
    line-height: 1em;
    text-align: right;
}
.ampm {
    font-size: 12px;
}
.main-calendar-email {
    font-weight: bold;
}
.main-calendar-timezone {
    font-size: 14px;
}




/* Schedule Page */
#schedule-calendar {
    text-align: center;
}





/* Friends Page */
.friends-group {
    position: absolute;
    margin-right: 10px;
    margin-bottom: 15px;
    right: 0;
    bottom: 0;
}
.single-line-forms {
    display: table;
    width: 90%;
    margin: 0px auto 50px auto;
    padding: 10px;

    border:1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px #dddddd;
}
.single-line-forms-input {
    display: table-cell;
    width: 100%;
    padding-right: 10px;
    border: none;
}
.single-line-forms-input > input {
    width: 100%;
}

.form-friendrequest {
    display:  inline-block;
}
.form-friendhidden {
    display: none;
}

.avatar.avatar-xl {
    width: 5rem;
    height: 5rem;
}
.avatar {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: #ced4da no-repeat center/cover;
    position: relative;
    text-align: center;
    color: #868e96;
    font-weight: 600;
    vertical-align: bottom;
    float: left;
    margin-right: 1em;
}
.card {
    background-color: #fff;
    border: 0 solid #eee;
    border-radius: 0;
}
.card {
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
}
.card-body {
    padding: 1rem;
}
.card-text {
    margin-bottom: 3px;
}

/* Manage Friend */
#friends-form-bg {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    width: 200%;
    height: 200%;
    z-index: 99;
}
#friends-form-email {
    margin-top: 20px;
    text-align: center;
}
.friends-form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);

    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    width: 50%;
    z-index: 999;
}

/* Add styles to the form container */
.form-container {
    padding: 10px 60px;
}

/* Full-width input fields */
.form-control-lg {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-container .btn {
    margin: 15px 0;
}














/* Schedule page */
.form-check-inline {
    margin: 0;
    padding: 0;
}

/* calendar table */
#schedule-calendar{
    table-layout: fixed;
}
#schedule-calendar td,
#main-calendar td {
    background: lightpink;
    border: 1px solid #eeeeee;
}
#schedule-calendar td:nth-child(1),
#schedule-calendar th,
#main-calendar td:nth-child(1),
#main-calendar th {
    background: white;
    border: none;
}
.schedule-calendar-hour {
    text-align: right;
    margin-top: -20px;
}
.schedule-free {
    background: lightgreen !important;
}
.timeslot {
    display: inline-block;
}

.form-schedulehidden {
    display: none;
}





