<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <br><br><br>

    <main class="container">
      <h1>FAQ</h1>
      <p class="fs-5 col-md-8">
        Timezone Buddies is a casual scheduling app that lets you view the availabilities of friends and family living in different timezones.
      </p>
      <p class="fs-5 col-md-8">
        The app itself makes zero assumptions on your availability throughout the day. Rather, it lets you set your own availability - whether you are an early bird, a night owl, or someone who keeps irregular schedules.
      </p>
      <p class="fs-5 col-md-8">
        Simply log in your availability, add other users to your friends list, and let us do the work for you.
      </p>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>




